
body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #111111;
    background-color: #E9E9E9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Logo styles */
.logo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}

.logo-italics {
    font-style: italic;
}
/* navigation styles */
.nav-list {
    font-weight: 500;
    line-height: 1.14286;
    letter-spacing: -0.02em;
}

/* Hero styles */
.hero {
    background-color:#1e1823;
    color: #fff;
}
.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.btn {
    background-color: #FD9222;
    color: #fff;
    font-weight: 600;
    color: #fff;
}

.hero-link {
    font-weight: 600;
    font-size: 14px;
}

.hero-scroll{
    font-weight: 600;
    font-size: 14px;
}

/* Benefits section styles */

.benefits {
    background-color: #1e1823;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.benefits-list-item .title {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
}

.accent-color {
    color: #fd9222;
}

.ingredients-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
}

.ingredients-list-item {
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.made-list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33333;
}

.made-list {
    line-height: 1.28571;
    letter-spacing: -0.02em;
    list-style-type: disc;
}

.reviews-list {
    display: flex;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}
.reviews-list-item {
    background-color: #fff;
    text-align: center;
}

.inversion {
    background-color: transparent;
    border-color: #FD9222;
    font-weight: 600;
    font-size: 18px;
    color: #111;
}

.inversion:hover,
.inversion:focus {
    color: #fff;
    background-color:#FD9222;
}

.footer {
    background-color: #1e1823;
    color: #fff;
}

.footer .section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: none;
}

.contacts {
    font-style: inherit;
    font-weight: 500;
    line-height: 1.28571;
}    

.contacts-title {
    font-weight: 500;
}











